<% provide(:title, "Skill Detail Pages") %>

  <!--スキルカテゴリーを回して、-->
  <!--スキル一覧（該当ユーザーの）も回す→カテゴリーIDが同じ時表示-->
  <!--1カテゴリ：1追加ボタン＆1ラベル（スキル名、スキルレベル）＆複数スキル-->
  <!--※複数スキル⇨スキル1：点数と更新、削除ボタン（それぞれ一つずつ）-->


<div class="main">
<div class="user-skills">
<% @skill_categories.each do |skill_category| %>
  <div class="skill-category">
    <div class="category-content">
      <div class="category-title">
        <div class="category-name">
          <%= skill_category.skill_category %>
          <hr>
        </div>
        <%= button_to 'スキルを追加する', {controller: "user_skill", action: "new", category_id: skill_category.id, user_id: @user.id }, method: :get%>
      </div>
    
      <table>
        <thead>
          <tr>
            <th>習得スキル</th>
            <th>習得レベル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user_skills.each do |skill| %>
            <% if skill_category.id === skill.skill_category_id %>
                <%= form_with(local: true) do |f| %>
              <tr id="skillId-<%= skill.id %>">
                <td class="skill name"><%=skill.skill_name%><%= f.hidden_field :id, value: skill.id %></td>
                <td class="skill level">
                  <!--,{},id:でidを指定-->
                  <%= f.select :skill_level, options_for_select((0..100).step(10).to_a, selected: skill.skill_level),{}, id: "skillLevelSelect_#{skill.id}" %>
                </td>
                <td class="skill update-btn">
                  <%= f.submit '習得レベルを保存する',params: { skill: { skill_level: skill.skill_level } }, data: { skill_id: skill.id }%>
                </td>
                <!--<!% end %>-->
                <td class="skill delete-btn">
                <%= f.submit 'スキルを削除する', data: { skill_id: skill.id } %>
                </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
</div>
</div>

