<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <!--link_toは第一引数が文字列、第二引数はURL、第三引数はオプションハッシュでCSSのid指定-->
        <%= link_to "My Portfolio", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ログイン", '#' %></li>
            <li><%= link_to "Sign up",'#' %></li>
          </ul>
        </nav>
      </div>
    </header>
      <%= yield %>
    <div id="skill-modal" style="display: none;">
      <div id="skill-modal-content">
        <div id="modal-message"></div>
        <button id="close-modal">スキル編集ページに戻る</button>
      </div>
    </div>
    <input type="hidden" id="userId" name="userId" value="<%= @user.id %>"/>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var saveButtons = document.querySelectorAll(".update-btn");//edit
    var deleteButtons = document.querySelectorAll(".delete-btn");
    var createButtons = document.querySelectorAll(".add-button");
    var modal = document.getElementById("skill-modal");
    var modalMessage = document.getElementById("modal-message");
    var closeModalButton = document.getElementById("close-modal");
    
    

  // update
    saveButtons.forEach(function(button) {
      button.addEventListener("click", function(e) {
        e.preventDefault();
        console.log("save!!!!")
        // skillId, skillLevelの取得
        var userId = document.getElementById("userId").value
        var skillId = e.target.dataset.skillId //OK!!!!!!!
        var skillElem = document.getElementById("skillId-" + skillId)
        var skillName = skillElem.querySelector(".name").textContent
        var skillLevel = document.getElementById("skillLevelSelect_"+skillId).value
        console.log("user:" + userId)
        console.log("skillId:" + skillId)
        console.log("skillName" + skillName)
        console.log("skillLevel:" + skillLevel)
        
        updateSkillLevel(userId, skillId, skillName, skillLevel);
      });
    });

  // delete
    deleteButtons.forEach(function(button) {
      button.addEventListener("click", function(e) {
        e.preventDefault();
        var userId = document.getElementById("userId").value
        var skillId = e.target.dataset.skillId;
        var skillElem = document.getElementById("skillId-" + skillId)
        var skillName = skillElem.querySelector(".name").textContent
        console.log("delete");
        console.log("user:" + userId)
        console.log(skillId + " : " + skillName);
        // console.log("delete:" + skillId)
        deleteSkill(userId, skillId, skillName);
      });
    });
    
    createButtons.forEach(function(button){
      button.addEventListener("click", function(e) {
        e.preventDefault();
        var userId = document.getElementById("userId").value
        var skillName = document.getElementById("skill_detail_skill_name").value
        var skillLevel = document.getElementById("skill_detail_skill_level").value
        var categoryId = document.getElementById("categoryId").value
        var categoryName = document.getElementById("categoryName").value
        // console.log("add");
        // console.log(skillName + skillLevel)

        createSkill(userId, skillName, skillLevel, categoryId, categoryName)
        // console.log(userId, skillName, skillLevel)
      });
    });

    closeModalButton.addEventListener("click", function(e) {
      e.preventDefault();
      modal.style.display = "none";
      var userId = document.getElementById("userId").value;
      var host = location.host;
      window.location.href = 'https://' + host + '/user_skill/' + userId + '/edit';
    });

    function updateSkillLevel(userId, skillId, skillName, skillLevel) {
      var request = new XMLHttpRequest();
      // userIdに変更
      request.open("PUT", "/user_skill/" + userId + "/edit", true);
      
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.onload = function() {
        if (request.status === 200) {
          showModal(skillName + " の習得レベルを保存しました！");
        } else {
          showModal(skillName + " の習得レベルの保存に失敗しました。");
        }
      };
      // skillIdを追加
      request.send(JSON.stringify({ skill_id: skillId, skill_level: skillLevel }));
    }

    function deleteSkill(userId, skillId, skillName) {
      var request = new XMLHttpRequest();
      request.open("DELETE", "/user_skill/" + userId + "/edit", true);
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.onload = function() {
        if (request.status === 200) {
          showModal(skillName + " の項目を削除しました！");
          // Optionally, remove the deleted skill from the DOM
          var skillItem = document.getElementById("skillId-" + skillId);
          if (skillItem) {
            skillItem.parentNode.removeChild(skillItem);
          }
        } else {
          showModal(skillName + " の項目の削除に失敗しました。お手数ですが再度お試しください。");
        }
      };
      request.send(JSON.stringify({ skill_id: skillId }));
    }
    
    function createSkill(userId, skillName, skillLevel, categoryId, categoryName){
      var request = new XMLHttpRequest();
      request.open("POST", "/user_skill/" + userId + "/category/" + categoryId, true)
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.onload = function() {
        if (request.status === 200) {
          showModal(categoryName + "に" + skillName + "を習得レベル" + skillLevel + "で追加しました！");
        } else {
          showModal(skillName + " の項目の追加に失敗しました。お手数ですが再度お試しください。");
        }
      };
      request.send(JSON.stringify({ skill_name: skillName, skill_level: skillLevel }));
    }

    function showModal(message) {
      modalMessage.textContent = message;
      modal.style.display = "block";
      console.log("showModal!!!!")
    }
  });
</script>