<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header>
      <%= link_to "My Portfolio", root_path, id: "logo" %>
      <% if logged_in? %>
        <%= button_to "ログアウト", login_path, method: :delete %>
      <% else %>
        <%= button_to "ログイン", login_path, method: :get %>        
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
　　<%= include_gon %>
    <%= yield %>
    <div id="skill-modal" style="display: none;">
      <div id="skill-modal-content">
        <div id="modal-message"></div>
        <button id="close-modal">スキル編集ページに戻る</button>
      </div>
    </div>
    <% if @user!=nil %>
      <input type="hidden" id="userId" name="userId" value="<%= @user.id %>"/>
    <% end %>
    <footer>
      my portfolio site
    </footer>
  </body>
</html>

